/* // old paper effect - https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css https://tympanus.net/codrops/2019/02/19/svg-filter-effects-creating-texture-with-feturbulence/ */

@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: inherit;
}

body {
  background-color: #1b1b1b;
  background-image: url("https://img.freepik.com/free-vector/old-nautical-map-template_225004-981.jpg?w=826&t=st=1689303040~exp=1689303640~hmac=a37c47e09d500d2a97491277fb38335a026fc096cfb060faf1cfb34a10ec440f");
  position: relative;
  width: 100%;
  height: auto;
}

.page {
  position: absolute;
  display: flex;
  width: 75%;
  min-height: calc((1vw + 1vh) * 75);
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 2em;
  padding-bottom: 4em;
  flex-direction: column;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

.page p {
  line-height: 1.5em;
  word-spacing: 0.16em;
  letter-spacing: 0.12em;
  max-width: 75ch;
  text-align: justify;
  margin: 0 auto;
}

svg {
  display: block;
  width: 0%;
  margin-top: 1em;
}

.head_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;

  h1 {
    display: inline;
    font-family: "Estonia", cursive;
    font-size: 6em;
    margin: 0.2em;
    font-weight: 800;
    align-self: center;
  }

  h2 {
    display: inline;
    font-family: "Estonia", cursive;
    font-size: 3em;
    font-weight: 600;
    margin: 0.5em;
    align-self: center;
  }
}

.head_2 {
  h3 {
    font-family: "Estonia", cursive;
    font-size: 2em;
    /* margin: 1em; */
    font-weight: 600;
    line-height: 1.5em;
    word-spacing: 0.16em;
    letter-spacing: 0.12em;
    max-width: 75ch;
    text-align: justify;
    margin: 1em !important;
    margin-left: 2em !important;
  }
}

.main {
  margin: 2em;
  p {
    font-family: "Libre Baskerville", serif;
    font-size: 1em;
    margin: 1em;
  }

  .secondp {
    margin-top: 3em;
  }

  span {
    color: rgb(38, 38, 38);
    float: left;

    line-height: 85%;

    font-size: 400%;

    font-family: georgia;
  }
}
